html {
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: 'Odin Rounded';
    src: local(''),
        url('./font/Odin_Rounded/Regular/Odin_Rounded.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    background-color: rgb(212, 212, 212);
    color: black;
    font-family: 'Odin Rounded';
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    margin: 0px;
}

.border-solid {
    border-radius: 26px;
    border-color: black;
    border-style: solid;
    border-width: 7px;
}

.border-bottom {
    border-color: black;
    border-style: solid;
    border-bottom-width: 7px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#content {
    height: 900px;
    width: 500px;
    margin: auto;
    text-align: center;
    background-color: rgb(104, 104, 104);
}

.screen {
    display: flex;
    font-weight: bold;
    font-family: 'Odin Rounded';
    width: 100%;
    height: 193px;
}

.calculator {
    width: fit-content;
    height: 660px;
    padding-top: 40px;
}

#wynik {
    width: 90%;
    font-size: 81px;
    margin: auto;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    background-color: rgb(99, 213, 255);
    text-align: right;
    
}

.btn {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(195, 195, 195);
    font-size: 24px;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(220, 220, 220);
}

.btn:active {
    background-color: rgb(138, 138, 138);
}

.up {
    width: 475px;
    height: fit-content;
    text-align: end;
}